.list td { 
    cursor: pointer; 
}

.browse-divider {
    margin: 10px 0; /* Space out the Bootstrap <hr> more */
    opacity: 0;
}

.sort-option {
    width: 100%;
    border-collapse:separate; 
    border-spacing:10px;
}

.input-rating {
    width: 100%;
    opacity: 0.7;
}

select {
    width: 100%;
    opacity: 0.7;
    color: #000;
}