.moviePosterContainer {
    position: relative;
}

video {  
   width:100%; 
   height:100%; 
}

.breadcrumb {
    background: none;
}

.img-responsive {
    width: 100%;
}

.details-divider {
    margin: 5px;
    opacity: 0.1; 
    border-color: white;
}

.panel-default {
    margin-top: 10px;
}

.progress {
    background-color: rgba(223, 105, 26, 0.27);
}