ul
{
   
}

#poster img
{
    
}

.moviePosterContainer {
    position: relative;
}

.movieActionsContainer {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 0;
    margin-left: auto;
    margin-right: auto;    
}