
<div class="row">
    <div class="col-md-10 col-md-offset-1">
       
        <h4>Sort by:</h4>

        <div>
            <form>
                Minimum IMDB score:
                <input type="number" name="points" min="0" max="10" step="0.1" value="0" ng-model="models.imdbScore" placeholder="IMDB score">
                <button ng-click="homeCtrl.filterMovies(models.imdbScore)"> hej </button>
            </form>
        </div>

        <table class="table table-hover table-striped ">
            <thead>
                <tr>
                    <td>Title</td>
                    <td class="hidden-xs">Director</td>
                    <td class="hidden-xs">Genre</td>
                    <td>Rating</td> 
                    <td>Runtime</td>
            </thead>
            <tbody>
                <tr ng-repeat="movie in homeCtrl.movies">
                    <td>{{movie.Title}}</td>
                    <td class="hidden-xs">{{movie.Director}}</td>
                    <td class="hidden-xs">{{movie.Genre}}</td>
                    <td>{{movie.imdbRating}}</td>
                    <td>{{movie.Runtime}}</td>
                    <td>
                        <a href="#/movie/{{movie.Id}}">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


