<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>
                    {{movieDetailsCtrl.movie.title}} <small>({{movieDetailsCtrl.movie.releaseYear}})</small>
                </h1>
            </div>
            <div class="panel-body">
                <ol class="breadcrumb">
                    <li><a href="#/">Movies</a></li>
                    <li class="active">{{movieDetailsCtrl.movie.title}}</li>
                </ol>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="moviePosterContainer">
                            <img ng-src="{{movieDetailsCtrl.movie.poster}}" class="img-responsive"/>
                            <div class="movieActionsContainer">
                                <button class="btn btn-primary">Play Movie</button>
                                <button class="btn btn-default">Add to list</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            [{{movieDetailsCtrl.movie.rated}}] 
                            {{movieDetailsCtrl.movie.runtime}} 
                            -
                            <span ng-repeat="genre in movieDetailsCtrl.movie.genres">
                                {{genre}}<span ng-if="!$last">,</span>
                            </span>
                            -
                            {{movieDetailsCtrl.movie.releaseYear}} 
                            ({{movieDetailsCtrl.movie.country}})
                        </p>
                        <h3> {{movieDetailsCtrl.movie.imdbRating}} 
                            <span class="glyphicon glyphicon-star"></span> 
                        </h3>
                        <p>
                            {{movieDetailsCtrl.movie.plot}}
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





