<div>
    <ul class="nav nav-pills">
        <li><a href="#/movies">Movies</a></li>
        <li class="active"><a href="#/series">Series</a></li>
    </ul>

    <hr class="browse-divider">

    <div class="row">
        <div class="col-sm-3">
            <form>
                <div class="form-group">
                    <label for="filterRaiting" class="text-muted"><span class="glyphicon glyphicon-star"></span> RATING</label>
                    <input class="form-control" 
                           type="number"
                           placeholder="Raiting (0-10)"
                           id="filterRaiting"
                           min="0" 
                           max="10" 
                           step="0.1"
                           ng-model="models.filterRaiting">
                </div>
                <hr class="browse-divider">

                <button class="btn btn-block btn-primary" ng-click="seriesCtrl.filterSeries(models.filterRaiting)">Filter</button>
            </form>
            <hr class="browse-divider">
        </div>

        <div class="col-sm-9">
            <table id="browsingTable" class="list table table-hover table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Rating</td> 
                    </tr>
                </thead>
                <tbody ng-show="seriesCtrl.series.length">
                    <tr class="browsingRow" ng-repeat="series in seriesCtrl.series" ng-click="seriesCtrl.goTo('/series/' + series.id)">
                        <td>{{series.title}}</td>
                        <td>{{series.imdbRating}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="list table table-bordered table-striped">
                <tbody>
                    <tr class="noResult" ng-hide="seriesCtrl.series.length">
                        <td>No result</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>                   
                </tbody>
            </table>
        </div>
    </div>
</div>
