<div class="jumbotron">
    <h1>
        Connect, browse, watch!
    </h1>
    <p>
        MovieFinder is a demo (as in not yet fully finished) web application for keeping track of and displaying local movie files.
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="#/movies/" role="button">Browse Movies</a>
        <a class="btn btn-primary btn-lg" href="#/series/" role="button">Browse Series</a>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>
            <span class="glyphicon glyphicon-hdd"></span> Connect
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia mauris nec nibh imperdiet porttitor. Donec sapien odio, euismod quis nibh a, luctus interdum ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            <span class="glyphicon glyphicon-list"></span> Browse
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia mauris nec nibh imperdiet porttitor. Donec sapien odio, euismod quis nibh a, luctus interdum ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            <span class="glyphicon glyphicon-film"></span> Watch
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia mauris nec nibh imperdiet porttitor. Donec sapien odio, euismod quis nibh a, luctus interdum ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Connect to your own or a friends' hard drive. 
            <span class="text-muted">It'll blow your mind.</span>
        </h2>
        <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>
    <div class="imageBox col-md-5 hidden-sm hidden-xs">
        <i class="feature-image glyphicon glyphicon-cloud-download"></i>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-5 hidden-sm hidden-xs">
        <i class="feature-image glyphicon glyphicon-list-alt"></i>
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">
            Easily browse through the collection. <span class="text-muted">See for yourself!</span>
        </h2>
        <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Pop some popcorn and start that chick-flick. 
            <span class="text-muted">Easy peasy.</span>
        </h2>
        <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>
    <div class="col-md-5 hidden-sm hidden-xs">
        <i class="feature-image glyphicon glyphicon-eye-open"></i>
    </div>
</div>

<hr class="featurette-divider">
